{{>Admin/partials/header}}

<div class="col-md-12">
	<hr />
	
	{{#if MESSAGE}}
		<p class="bg-success" style="padding: 15px;">{{MESSAGE}}</p>
	{{/if}}

	{{#if ERROR}}
		<p class="bg-danger" style="padding: 15px;">Erreur : {{ERROR}}</p>
	{{/if}}

	<form action="/admin/categories/save" method="POST" role="form">

		<input type="hidden" name="category_id" value="{{CATEGORY.category_id}}">

		<div class="form-group">
			<label for="inputName">Nom</label>
			<input type="text" class="form-control" id="inputName" placeholder="Nom" name="name" value="{{CATEGORY.name}}">
		</div>

		<div class="form-group">
			<label for="inputSlug">Slug</label>
			<input type="text" class="form-control" id="inputSlug" placeholder="Slug" name="slug" value="{{CATEGORY.slug}}">
		</div>


		<div class="form-group">
			<label for="inputParent">Parent</label>
			<select name="parent_id" class="form-control" id="inputParent">
				<option value="0">---</option>
				{{#CATEGORIES}}
				<option value="{{category_id}}" {{#ifCond category_id == ../CATEGORY.parent_id}}selected{{/ifCond}}>{{name}}</option>
				{{/CATEGORIES}}
			</select>
		</div>

		<div class="form-group">
			<p class="pull-right">
				<input type="submit" value="Envoyer" class="btn btn-primary" />
			</p>
		</div>

	</form>
</div>

{{>Admin/partials/footer}}
