{{>Admin/partials/header}}

<div class="col-md-12">
	<hr />
	
	{{#if MESSAGE}}
		<p class="bg-success" style="padding: 15px;">{{MESSAGE}}</p>
	{{/if}}

	{{#if ERROR}}
		<p class="bg-danger" style="padding: 15px;">Erreur : {{ERROR}}</p>
	{{/if}}

	<form action="/admin/users/save" method="POST" role="form">

		<input type="hidden" name="user_id" value="{{USER.user_id}}">

		<div class="form-group">
			<label for="inputUsername">Username</label>
			<input type="text" class="form-control" id="inputUsername" placeholder="Nom d'utilisateur" name="username" value="{{USER.username}}">
		</div>

		<div class="form-group">
			<label for="inputPasswd">Mot de passe</label>
			<input type="password" class="form-control" id="inputPasswd" placeholder="Mot de passe" name="passwd" value="{{USER.passwd}}">
		</div>

		<div class="form-group">
			<p class="pull-right">
				<input type="submit" value="Envoyer" class="btn btn-primary" />
			</p>
		</div>

	</form>
</div>

{{>Admin/partials/footer}}
