<script type="text/x-handlebars-template" id="main">
<div class="row">

<!--
    <form action="" method="POST"  class="form-horizontal form-filter">
        <input type="text" name="by_title" />
        <input type="submit" value="Filter" class="btn btn-primary"/>
    </form>
-->

    <div class="mediaSelector">
        <div class="col-md-8">
            <ul class="selectorTable">
                {{{medias}}}
            </ul>
            <div class="pages"></div>
        </div>
        <div class="col-md-4 form">
            <div class="col-md-11">
                <div class="filedropzone"><p align="center"><strong>Arrastra los archivos para subir</strong> <small>o pincha aquí</small><p></div>
            </div>
        </div>
    </div>

</div>
</script>

<script type="text/x-handlebars-template" id="medias">
{{#MEDIAS}}
    <li class="col-md-2 selectorTableCell">
        <a href="#{{media_id}}" class="thumb">
            {{#ifvalue type value="image"}}
                <img src="/web/uploads/medias/{{file}}" alt="">
            {{/ifvalue}}

            {{#ifvalue type value="video"}}
                <i class="glyphicon glyphicon-film"></i>
            {{/ifvalue}}

            <p align="center">
                {{filename}}<br />
                {{#if height}}
                    {{width}}x{{height}}px
                {{/if}}
            </p>
        </a>
        
    </li>
{{/MEDIAS}}
</script>

<script type="text/x-handlebars-template" id="pagination">
<ul class="pagination">

    {{#if pagination.prev_page}}
        <li><a href="#" data-page="{{pagination.prev_page}}">Prev</a></li>
    {{else}}
        <li class="disabled"><a href="#" data-page="{{pagination.prev_page}}">Prev</a></li>
    {{/if}}

    {{#pagination}}
        <li><a href="#" data-page="{{.}}">{{.}}</a></li>
    {{/pagination}}

    {{#if pagination.next_page}}
        <li><a href="#" data-page="{{pagination.next_page}}">Next</a></li>
    {{else}}
        <li class="disabled"><a href="#" data-page="{{pagination.next_page}}">Next</a></li>
    {{/if}}

</ul>
</script>

<script type="text/x-handlebars-template" id="form-image">
<div class="col-md-11">
<form class="form-horizontal" role="form">
    <fieldset>

        <div class="form-group">
            <legend>{{MEDIA.type}}</legend>
            <div class="image-preview">
                {{#ifvalue MEDIA.type value="image"}}
                    <img src="/web/uploads/medias/{{MEDIA.file}}" class="img-responsive">
                {{/ifvalue}}

                {{#ifvalue MEDIA.type value="video"}}
                <video controls src="/web/uploads/medias/{{MEDIA.file}}" width="280" height="200" ></video>
                {{/ifvalue}}

                <input type="hidden" value="{{MEDIA.file}}" name="file" id="file" />
            </div>
        </div>

        <div class="form-group">
            <label>Type</label> : {{MEDIA.mime_type}}<br />
            <label>Nom</label> : {{MEDIA.filename}}<br />

            {{#if MEDIA.height}}
                <label>Taille</label> : {{MEDIA.width}}x{{MEDIA.height}}px
            {{/if}}
        </div>
        
        <div class="form-group">
            <label>Titre</label>
            <input type="text" name="title" class="form-control" value="{{MEDIA.title}}" id="title">
        </div>
        
        <div class="form-group">
            <label>Description</label>
            <textarea name="resume" rows="3" class="form-control" id="resume">{{MEDIA.resume}}</textarea>
        </div>
        
        <div class="form-group">
            <input type="hidden" name="mime_type" value="{{MEDIA.mime_type}}" id="mime_type">
            <input type="hidden" name="date" value="{{MEDIA.date}}" id="date">
            
            <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i> Ajouter</button>
            <button type="button" class="clear-form btn btn-default"><i class="icon-remove icon-white"></i> Fermer</button>
        </div>
    </fieldset>
</form>
</div>
</script>
