{{#MEDIAS}}
<tr>
    <td width="40">{{media_id}}</td>
    <td width="150">
        {{#ifvalue type value="image"}}
            <img src="/web/uploads/medias/{{file}}" class="img-rounded" style="max-width:140px;max-height:80px;" />
        {{/ifvalue}}
    </td>
    <td>
        <strong><a href="/admin/medias/{{media_id}}/">{{filename}}</a></strong>
    </td>
    <td>
        {{#ifvalue type value="image"}}
            <i class="glyphicon glyphicon-picture"></i>
        {{/ifvalue}}

        {{#ifvalue type value="video"}}
            <i class="glyphicon glyphicon-film"></i>
        {{/ifvalue}}

        {{#ifvalue type value="application"}}
            <i class="glyphicon glyphicon-file"></i>
        {{/ifvalue}}
    </td>
    <td>
        {{type}}
    </td>
    <td>
        {{mime_type}}
    </td>
    <td>
        <div class="pull-right">
            <a href="/admin/medias/{{media_id}}/"><i class="glyphicon glyphicon-pencil"></i></a> 
            <a href="/admin/medias/delete/{{media_id}}/" class="confirm"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
    </td>
</tr>
{{/MEDIAS}}
